<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 75vh;
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">
                        <%- partial('_partial/post-statis') %>
                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="<%- theme.jsDelivr.url %><%- url_for(theme.profile.avatar) %>" alt="<%- config.author %>"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">
                                    <%- partial('_partial/post-statis') %>
                                </div>
                                <div class="title"><%- config.author %></div>
                                <div class="career"><%- theme.profile.career %></div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">
                                    <%- partial('_partial/social-link') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <%- partial('_partial/social-link') %>
                        </div>
                    </div>
                </div>

                <div class="introduction center-align" data-aos="fade-up"><%= theme.profile.introduction %></div>

                
 <style>
    #links{
       margin-top: 5rem;
    }

    .links-content{
        margin-top:1rem;
    }

    .link-navigation::after {
        content: " ";
        display: block;
        clear: both;
    }

    .card {
        width: 300px;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 4px;
        transition-duration: 0.15s;
        margin-bottom: 1rem;
        display:flex;
    }
    .card:nth-child(odd) {
        float: left;
    }
    .card:nth-child(even) {
        float: right;
    }
    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    }
    .card a {
        border:none;
    }
    .card .ava {
        width: 3rem!important;
        height: 3rem!important;
        margin:0!important;
        margin-right: 1em!important;
        border-radius:4px;

    }
    .card .card-header {
        font-style: italic;
        overflow: hidden;
        width: 236px;
    }
    .card .card-header a {
        font-style: normal;
        color: #2bbc8a;
        font-weight: bold;
        text-decoration: none;
    }
    .card .card-header a:hover {
        color: #d480aa;
        text-decoration: none;
    }
    .card .card-header .info {
        font-style:normal;
        color:#a3a3a3;
        font-size:14px;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<style>
    #links{
       margin-top: 5rem;
    }

    .links-content{
        margin-top:1rem;
    }

    .link-navigation::after {
        content: " ";
        display: block;
        clear: both;
    }

    .card {
        width: 300px;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 4px;
        transition-duration: 0.15s;
        margin-bottom: 1rem;
        display:flex;
    }
    .card:nth-child(odd) {
        float: left;
    }
    .card:nth-child(even) {
        float: right;
    }
    .card:hover {
        transform: scale(1.1);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    }
    .card a {
        border:none;
    }
    .card .ava {
        width: 3rem!important;
        height: 3rem!important;
        margin:0!important;
        margin-right: 1em!important;
        border-radius:4px;

    }
    .card .card-header {
        font-style: italic;
        overflow: hidden;
        width: 236px;
    }
    .card .card-header a {
        font-style: normal;
        color: #2bbc8a;
        font-weight: bold;
        text-decoration: none;
    }
    .card .card-header a:hover {
        color: #d480aa;
        text-decoration: none;
    }
    .card .card-header .info {
        font-style:normal;
        color:#a3a3a3;
        font-size:14px;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
</style>

<div class="links-content">
<div class="link-navigation">
<div class="card">
    <img class="ava" src="https://puppetsheep.cn/images/icons/icon_192.png">
        <div class="card-header">
            <div>
                <a href="https://puppetsheep.cn/" target="_blank">灵魂只应独行</a>
                <a href="https://puppetsheep.cn/" target="_blank"><span class="focus-links">关注</span></a>
            </div>
        <div class="info">May the love be with you always</div>
        </div>
    </div>

    <div class="card">
        <img class="ava" src="https://cdn.jsdelivr.net/gh/NaiveTomcat/blog/img/sidebar-avatar.jpg">
            <div class="card-header">
                <div>
                    <a href="https://www.tsinghuamakerxian.cn/" target="_blank">NaiveTomcat</a>
                    <a href="https://www.tsinghuamakerxian.cn/" target="_blank"><span class="focus-links">关注</span></a>
                </div>
            <div class="info">May the love be with you always</div>
            </div>
        </div>
</div>
</div>

                <%- partial('_widget/post-charts') %>

                <% if (theme.myProjects && theme.myProjects.enable) { %>
                <%- partial('_widget/my-projects') %>
                <% } %>

                <% if (theme.mySkills && theme.mySkills.enable) { %>
                <%- partial('_widget/my-skills') %>
                <% } %>

                <% if (theme.myGallery && theme.myGallery.enable) { %>
                <%- partial('_widget/my-gallery') %>
                <% } %>
                
                <% if (theme.artitalk && theme.artitalk.enable) { %>
                    <%- partial('_widget/artitalk') %>
                <% } %>
            </div>
        </div>
    </div>
</main>
